/*  reset css */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header,  menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    font-family:'微软雅黑',"Microsoft YaHei","MicrosoftJhengHei",  "Arial", Lato, "Helvetic Neue",'Icons',"Hiragino Sans GB", "microsoft yahei", arial, sans-serif !important;
}
ul {
    list-style: none;
}
/*clearfix*/

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearfix {

    zoom: 1;
}

/*icon字体*/
@font-face {
    font-family: 'Icons';
    src: url(../fonts/icons.ttf) format('truetype'),
    url(../fonts/icons.otf),
    url(../fonts/icons.woff) format('woff') ,
    url(../fonts/icons.eot) format('eot') ,
    url(../fonts/icons.svg) format('svg') ;

}


/*主体*/

body,html{
    height: 100%;
    width: 100%;
    min-width: 1200px;
    background-color: #ffffff;

}

/*head部分*/

header{
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;

    z-index: 999;
    opacity: .97;
    border-bottom: 1px solid transparent;

}
.h_main{
    margin: 0 auto;
    width: 1200px;
    height: 81px;
}
.h_main_left{
    float: left;
    width: 500px;
    height: 100%;
}
.h_main_right{
    float: left;
    width: 700px;
    height: 100%;
}
.h_main_left>img{
    position: relative;
    top: 17px;
}
.h_ul>li{
    float: left;
    padding: 31px 26px;


}
.h_ul>li>a{
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;


}


.h_banner{
    width: 100%;
    height: 470px;
    background: url("../imgs/banner4.jpg") no-repeat;
    background-size:cover;
    background-position: 100% 50%;
    display: flex;

    align-items: center;


}
/*footer*/
footer{
    width: 100%;

    background: #f8f8f8;
}
.f_main{

    margin: 0 auto;
    height: 470px;
    width: 1200px;
    padding: 10rem 0 6rem 0;


}
.coms{
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
    position: relative;
}
.coms a{

    color: #000000;
    cursor: pointer;
    margin: 0 15px;
    font-size: 12px;
}
.coms i{
    position: relative;
    top: 1px;
}
.coms span{
    color: #c9c9c9;
    font-style: oblique;

}
.coms p{
    margin-left: 15px;
    letter-spacing: 1px;
}
.coms a:hover{
    color: #666666;
}
.coms img{
    margin-left: 15px;
    margin-right: 5px;

}
.QR{
    position: absolute;
    top: -127px;left: 1021px;
    width: 130px;
}
/*main*/
.Content{

    margin: 0 auto;
    width: 1200px;
    padding-bottom: 10rem;
    min-height: 1092px;

}
.Content h1{
    text-align: center;
    margin-top: 10rem;
    letter-spacing: 10px;
    font-size: 3rem;
    font-weight: 500;
}
.ConLeft{
    width: 355px;
    float: left;
    margin-top: 105px;
    padding: 0 0 0 20px;
}
.node{
    min-height: 35px;
    position: relative;
    border-left: 2px solid #000000;
    /*line-height: 35px;*/
}
.node1{
    margin-top: 0px;
}
.ball{
    float: left;
    position: absolute;
    top: -15px;
    left: -9px;
}
.node>h3{
    float: left;
    margin-left: 28px;
    position: relative;
    top: -15px;
    letter-spacing: 1px;
    font-size: 18px;

}
.node>a{
    color: #666666;
    margin-left: 28px;
    font-size: 1rem;
    /*font-weight: bold;*/
    cursor: pointer;
    letter-spacing: 1px;
}
.ConRight{
    width: 783px;
    float: left;
    margin-top: 86px;
    position: relative;
}
.ConRight h3{
    letter-spacing: 1px;
    margin-bottom: 18px;
}
.ConRight_d h3{
    display: block;
    float: left;
    /*height: 20px;*/
    margin-right: 65px;
}
.ui.divider{
    margin: 3rem 0;
}
.navs_slider{
    width: 5.4rem;
    height: 2px;
    margin: 0.8em;
    background: #000000;
    position: absolute;
    top: 29px;
    bottom: 0;
    left: -10px;
}
.navs_slider2{
    width: 5.4rem;
    height: 2px;
    margin: 0.8em;
    background: #000000;
    position: absolute;
    top: 29px;
    bottom: 0;
    left: 130px;
}
.navs_slider3{
    width: 5.4rem;
    height: 2px;
    margin: 0.8em;
    background: #000000;
    position: absolute;
    top: 29px;
    bottom: 0;
    left: 270px;
}




.ui.divider{
    margin-bottom: 24px;
}
.ConRight>p{
      letter-spacing: 1px;
      line-height: 35px;
      /*font-weight: bold;*/
    
}
.none{
    display: none;
}
.com{
    width: 100%;
    margin-bottom: 72px;
    min-height: 150px;
}
.com>img,.com>div{
    float: left;
}
.com>div {
    padding: 5px;
    width: 540px;
    margin-left: 88px;
    display: inline-block;

}
.com>div h3{
    font-size: 16px;
    letter-spacing: 2px;
}
.com>div p{
    font-size: 1rem;
    color: #666666;
    letter-spacing: 1px;
    line-height: 35px;

}
.ImgEdit{

    margin: 35px;
    height: 50px;
}
.ConRight_p1{
    font-size: 16px;
    color: #000;
}
.ConRight_p2{
    font-size: 14px;
    color: #666;
}
.ConRight_p3{
    font-size: 16px;
    color: #000;
    margin-top: 20px;
}
.ConRight_D{
    width: 785px;
    height: 100%;
    margin-top: 40px;
    font-size: 14px;
    

}
.G_cd1{
    float: left;
    background-color: #f5f5f5;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    
    letter-spacing: 1px;
    
}
._cd1{
    width: 785px;
    height: 58px;
    line-height: 58px;

}
._cd2{
    width: 785px;
    height: 88px;
    
}

.l_cd1{
    width: 198px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    color: #666;
}
.r_cd1{
    width: 567px;
    height: 58px;
    background-color: #fff;
    line-height: 58px;
    padding-left: 20px;

}
.l_cd2{
    width: 198px;
    height: 88px;
    border-top: none;
    text-align: center;
    line-height: 60px;
    color: #666;
}
.r_cd2{
    width: 567px;
    height: 88px;
    background-color: #fff;
    border-top: none;
    word-break:break-all;
    padding-left: 20px;
    display: block;
    line-height: 30px;
    padding-top: 15px;

}
.l_cd3{
    width: 198px;
    height: 118px;
    border-top: none;
    text-align: center;
    line-height: 60px;
    color: #666;
}
.r_cd3{
    width: 567px;
    height: 118px;
    background-color: #fff;
    border-top: none;
    word-break:break-all;
    padding-left: 20px;
    display: block;
    line-height: 30px;
    padding-top: 15px;

}
.l_cd4{
    width: 198px;
    height: 148px;
    border-top: none;
    text-align: center;
    line-height: 60px;
    color: #666;
}
.r_cd4{
    width: 567px;
    height: 148px;
    background-color: #fff;
    border-top: none;
    word-break:break-all;
    padding-left: 20px;
    display: block;
    line-height: 31px;
    padding-top: 15px;

}
.bor-no{
       border-top: none;
}
.ConRight1{
    display: block;
}
.ConRight2{
    display: none;
}
.ConRight3{
    display: none;
}
.cli-h1,.cli-h2,.cli-h3{
   cursor:pointer; 
}
